html {
    height: 100%;
}

body {
    background: url('../../static/images/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 64.4px);
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.wrapper {
    flex-grow: 1;
}

h1 {
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* ---------------------------------------- Buttons */

.explore-hikes-btn,
.secondary-btn {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.explore-hikes-btn:hover,
.explore-hikes-btn:active,
.explore-hikes-btn:focus,
.secondary-btn:hover,
.secondary-btn:active,
.secondary-btn:focus {
    background: black;
    color: white !important;
}

.home-page-btn {
    min-width: 300px;
}

.regular-btn {
    background: black;
    color: white;
}

.regular-dis {
    background: grey;
}

.regular-btn:hover,
.regular-btn:active,
.regular-btn:focus {
    background: white;
    color: black;
    border: 1px solid black;
}

/* ---------------------------------------- Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 50px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

/* ---------------------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 6px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* ---------------------------------------- Modal */
/* Code from https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* ---------------------------------------- Footer */

.footer-container {
    background-color: #282C10;
    color: #F3FAE7;
    min-height: 60px;
    padding: 15px 0 0 0;
    margin-top: 30px;
}

.social-links {
    margin:0;
    text-align: right;
}

.social-links i {
    color: #F3FAE7;
}

/* ---------------------------------------- Media queries */

@media only screen and (max-width: 992px) {
    #book-hike-form .form-group select input {
        width: 50%;
    }
}
