html {
    height: 100%;
}

body {
    background: url('../../static/images/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 64.4px);
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* ---------------------------------------- Buttons */

.explore-hikes-btn {
    background: white;
    color: black;
    min-width: 300px;
}

.explore-hikes-btn:hover,
.explore-hikes-btn:active,
.explore-hikes-btn:focus {
    background: black;
    color: white;
}

.book-hike-btn {
    background: black;
    color: white;
}

.book-hike-btn-dis {
    background: grey;
}

.book-hike-btn:hover,
.book-hike-btn:active,
.book-hike-btn:focus {
    background: white;
    color: black;
    border: 1px solid black;
}

/* ---------------------------------------- Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 50px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

/* ---------------------------------------- Media queries */

@media only screen and (max-width: 992px) {
    #book-hike-form .form-group select input {
        width: 50%;
    }
}
