html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 64.4px);
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* ---------------------------------------- Buttons */

.explore-hikes-btn {
    background: white;
    color: black;
    min-width: 300px;
}

.explore-hikes-btn:hover,
.explore-hikes-btn:active,
.explore-hikes-btn:focus {
    background: black;
    color: white;
}
