<footer class="container-fluid footer-container shadow-vertical">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <p>
                    &copy; 2022 Monika Hrda
                </p>
            </div>
            <div class="col-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" target="_blank">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</footer>

<!-- <footer class="footer-container">
    <div class="row footer-div">
        <div class="col-12 m6">
            <p class="copyright">
                &copy; 2022 Monika Hrda
            </p>
        </div>
        <div class="col s12 m6">
            <ul class="social-links right-align">
                <li>
                    <a href="https://github.com/monika-hrda" target="_blank">
                        <i class="fab fa-brands fa-github" role="img" aria-label="GitHub"></i>
                        <span class="sr-only">GitHub</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/monikahrda/" target="_blank">
                        <i class="fab fa-brands fa-linkedin" role="img" aria-label="LinkedIn"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer> -->