<footer class="container-fluid footer-container">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <p>
                    &copy; 2022 Monika Hrda | Hike Slovakia
                </p>
            </div>
            <div class="col-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook-f fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fa-brands fa-instagram fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" target="_blank">
                            <i class="fa-brands fa-youtube fa-lg" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</footer>