{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>{% trans "Change Password" %}</h2>
            <hr class="w-50">
        </div>
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-lg rounded-1 text-uppercase mt-2 py-2 my-1 secondary-btn" href="{% url 'account_login' %}">Back to Login</a>
        <button type="submit" name="action" class="btn btn-lg rounded-1 text-uppercase mt-2 py-2 my-1 regular-btn">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
