{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="image-container my-2">
                {% if hike.image %}
                    <img class="card-img-top img-fluid" src="{{ hike.image.url }}" alt="{{ hike.title }}">
                {% else %}
                    <img class="card-img-top img-fluid" src="{% static '/images/default_image.jpg' %}" alt="{{ hike.title }}">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="hike-details-container mb-5 mt-1 mt-lg-5">
                <h4 class="mb-1 font-weight-bold">{{ hike.title }}</h4>
                <p class="lead text-uppercase mb-0 text-left">{{ hike.get_difficulty_display }}</p>
                <p class="lead mb-0 text-left font-weight-bold">€ {{ hike.price }}</p>
                <p class="mt-3 mb-4">{{ hike.description }}</p>

                <form action="{% url 'view_basket' hike.id %}" method="POST" id="book-hike-form">
                    {% csrf_token %}
                    <div class="form-group w-50">
                        <label for="hike-date-dropdown" id="hike-date-dropdown-label"><strong>Available dates:</strong></label>
                        <select class="form-control rounded-1" name="hike_date_id" id="hike-date-dropdown" required>
                            <option value="" disabled selected>Choose a date ...</option>
                            {% for scheduled_hike in scheduled_hikes %}
                                <option value="{{ scheduled_hike.id }}">{{ scheduled_hike.date }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="form-group w-50">
                            <label for="num-people-input" id="num-people-input-label"><strong>Number of hikers (max 5):</strong></label>
                            <input class="form-control" type="number" name="number_of_people" id="num-people-input" value="1" min="1"
                                max="5" required />
                        </div>
                        <button type="submit" id="book-hike-button"
                            class="btn rounded-1 mt-2 py-2 {% if scheduled_hikes|length == 0 %} regular-dis {% else %} regular-btn {% endif %}"
                            {% if scheduled_hikes|length == 0 %} disabled {% endif %}>BOOK HIKE FOR 1 PERSON</button>
                    {% else %}
                        <p>
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                            <a class="text-info" href="{% url 'account_login' %}">log in</a> to book this hike.
                        </p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        const numPeopleInput = document.getElementById("num-people-input");
        const bookHikeButton = document.getElementById("book-hike-button");

        numPeopleInput.addEventListener("input", () => {
            // Ensures that the number of people input is always clean and never empty
            numPeopleInput.value = numPeopleInput.value.trim() || "1";

            let correctPersonWord;
            if (numPeopleInput.value == "1") {
                correctPersonWord = "PERSON";
            } else {
                correctPersonWord = "PEOPLE";
            }

            bookHikeButton.innerText = `BOOK HIKE FOR ${numPeopleInput.value} ${correctPersonWord}`;
        });
    </script>
{% endblock %}