{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Guided Hikes</h2>
                <hr class="w-50 mb-2 mb-md-5">
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row">
                    {% for hike in hikes %}
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 border rounded shadow">
                                {% if hike.image %}
                                <a href="{% url 'hike_detail' hike.id %}">
                                    <img class="card-img-top img-fluid" src="{{ hike.image.url }}" alt="{{ hike.title }}">
                                </a>
                                {% else %}
                                <a href="{% url 'hike_detail' hike.id %}">
                                    <img class="card-img-top img-fluid" src="{% static '/images/default_image.jpg' %}" alt="{{ hike.title }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <h4 class="mb-0 font-weight-bold">{{ hike.title }}</h4>
                                </div>
                                <div class="card-footer bg-white pt-0 pb-3 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead text-uppercase mb-0 text-left">{{ hike.get_difficulty_display }}</p>
                                            <p class="mb-0 text-left font-weight-bold">€ {{ hike.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}